@media screen and (min-width:425px) and (max-width:1067px){
  body{
    background-color: lightsalmon;
  }
  #uno{
    background-color: blue;
  }
  #dos{
    background-color: cyan;
  }
  #tres{
    background-color: purple;
  }
  #cuatro{
    background-color: violet;
  }
  .cuadros{
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 20px;
    transition: 1s;
    float: left;
  }
  .cuadros:hover{
    opacity:50%;
    transform: rotate(360deg);
  }

    p{
      line-height: 125px;
      font-size: 25px;
    }
  }

  p{
    font-size: 25px;
    font-family:"Playfair Display";
    font-weight: bold;
    text-align: center;
    line-height: 100px;
  }
  #uno{
    background-color: cyan;
  }
  #dos{
    background-color: blue;
  }
  #tres{
    background-color: violet;
  }
  #cuatro{
    background-color: purple;
  }
  #cuatroderecho{
    height: 480px;
    width: 660px;
    background-color: gray;
    float: left;
    margin: 20px;
  }

  #contenedor{
    float: left;
  }

  #titulo{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: black;
    text-align: center;
    -webkit-text-stroke-: white 3px ;
  }
